<h1>New Food</h1>

<% @food.errors.messages.each do |name, message| %>
  <p class="bg-danger"><%= name %> <%= message.first %></p>
<% end %>

<%= form_tag '/foods' do %>
  <%= render 'form' %>
<% end %>